#name{
    border: 1px solid #A28000;
    background-color:#A28000;
  border-radius: 290486px;
  color: white;
  font-size: 0.75em;
  letter-spacing: 0.2em;
  padding: 0.4em 2em;
  text-transform: uppercase;
  text-decoration: none;
}

#profile-pic{
  display: inline-block;
  height: 136px;
  vertical-align: top;
  width: 136px;
  border: 3px solid #A28000;
  margin-bottom:2em;
}
img{
      max-width:100%;
}

body a{
    color:#A28000;
}
body a:hover{
    text-decoration: none;
}

body h2{
    color: #333;
}

header {
  background-color: #F4F4F4;
  background-image: url("../images/computer-crop.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:none;
  line-height: 1.2;
  padding: 7vw 2em;
  text-align: center;
}

header h1{
    color: white;
  font-size: 2.75em;
  font-weight: 300;
}

header main{
      margin: 0 auto;
}

main{
    padding-top: 2em;
}